/*重置样式*/
* {
    margin: 0;
    padding: 0;
    border: 0
}
body {
    font-family: "微软雅黑";
    background: #f4f4f4;
}

/*header*/
.header-line {
    width: 100%;
    height: 4px;
    background: #0dbfdd;
}

/*content*/
.content {
    width: 28%;
    margin: 70px auto 0;
    text-align: center;
}
.content-logo {
    width: 80px;
    height: 80px;
    transition: all 1.5s ease-in-out ;
}
.content-logo:hover{
    transform:rotate(360deg) scale(1.5);
}
.content-title {
    margin: 10px 0 25px 0;
    font-size: 2em;
    color: #747474;
    font-weight: normal;
}
.content-form {
    width: 100%;
    padding: 36px 0 20px;
    border: 1px solid  #dedede;
    text-align: center;
    background: #fff;
}
.form_left{
    margin: 50px;
    height: 80vh;
    float: left;
}
.form_right{
    margin: 50px;
    height: 80vh;
    float: right;
}
.content-form form div {
    margin-bottom: 19px;
}
.content-form form .user,
.content-form form .password,
.content-form form .tel {
    width: 77%;
    height: 20px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid  #cccbcb;
    border-radius: 7px;
    letter-spacing: 1px;
}
.content-form form input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 5px #78b4d8;
    box-shadow: 0 0 5px #78b4d8;
}
.content-form-signup {
    width: 84%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid  #cccbcb;
    border-radius: 7px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: #78b4d8;
    cursor: pointer;
}
.content-form-signup:hover {
    background: #78b5f9;
}
.content-form-signup:focus {
    outline: none;
    border: 1px solid  #78b4d8;
}
.content-login-description {
    margin-top: 25px;
    line-height: 1.63636364;
    color: #747474;
    font-size: .91666667rem;
}
.content-login-link {
    font-size: 16px;
    color: #78b4d8;
    text-decoration: none;
}

/*输入框无内容便提示*/
#remind_1,
#remind_2 {
    width: 76%;
    margin: 0 auto 2px;
    text-align: left;
    font-size: 15px;
}